<body>
  <header>
    <div class="flex flex-col justify-between items-baseline p-20 gap-5">
      <h1 class="text-lg lg:text-3xl xl:text-5xl text-white font-bold">Physiotherapeutin</h1>
      <h1 class="text-lg lg:text-3xl xl:text-5xl text-white font-semibold">Eva Limberger</h1>
      <div>
        <h2 class="text-white font-semibold">Physiotherapie</h2>
        <p class="text-white font-semibold">1200 Wien</p>
      </div>
      <div class="flex flex-col md:flex-row gap-4">
        <button class="btn">
            Leistungen
        </button>
        <button class="btn btn-active btn-neutral">
          Termin Vereinbaren
        </button>
      </div>
    </div>
  </header>

  <div class="flex p-10">
    <div class="w-1/2">
        Rehabilitation durch individuelle Behandlung
    </div>
    <div class="w-1/2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod
      ligula quis nibh pharetra, vitae fermentum urna auctor. Proin egestas non
      sapien quis semper. Cras luctus ullamcorper consectetur. Praesent aliquet
      lobortis tellus, ac convallis massa aliquet vel.
      <br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod
      ligula quis nibh pharetra, vitae fermentum urna auctor. Proin egestas non
      sapien quis semper. Cras luctus ullamcorper consectetur. Praesent aliquet
      lobortis tellus, ac convallis massa aliquet vel. Nulla facilisi. Nunc
      mauris elit, accumsan sit amet suscipit eget, tincidunt ut metus. Sed
      tincidunt est quis neque pharetra bibendum. Cras ac sodales ipsum.
      Praesent nisi mauris, dictum ut eros at, dictum egestas mi. Nunc placerat
      in libero non bibendum.
    </div>
  </div>

  <div>

  </div>

  <div></div>

  <div></div>

  <div></div>

  <div></div>
</body>
