<section class="h-[80vh] w-[100vw] flex flex-wrap">
  <div class="w-1/2 flex flex-col justify-end items-center h-[60vh]">
    <h1>Über uns</h1>
  </div>
  <div class="w-1/2 flex flex-col justify-center">
    <img src="" alt="BILD" class="border-4 w-[50vw] h-[50vh]" />
  </div>
</section>
<section class="container">
    <div class="content">
      <p>
        Wir sind sowohl beruflich als auch privat ein eingespieltes Team. In der
        Physiotherapie haben wir unsere Leidenschaft zum Beruf gemacht, denn
        Bewegung ist für uns nicht nur eine Tätigkeit, sondern ein Lebensstil.
      </p>
      <p>
        Man trifft uns daher auch außerhalb der Praxis mit Laufschuhen auf den
        Straßen oder in den Bergen, auf der Matte im Yogastudio oder an der
        Kletterwand.
      </p>
    </div>
  </section>
  
<section></section>
<section></section>
<section></section>
