<section class="photo-grid m-2 bg-[#561C24]">
<div class="grid-card card-tall" style="border: 2px solid white;">1</div>
<div class="grid-card card-wide m-2" style="border: 2px solid white;">2</div>
<div class="grid-card m-2" style="border: 2px solid white;">3</div>
<div class="grid-card m-2" style="border: 2px solid white;">4</div>
<div class="grid-card card-tall m-2" style="border: 2px solid white;">5</div>
<div class="grid-card card-tall m-2" style="border: 2px solid white;">6</div>
<div class="grid-card card-wide m-2" style="border: 2px solid white;">7</div>
<div class="grid-card card-tall m-2" style="border: 2px solid white;">8</div>
<div class="grid-card card-wide m-2" style="border: 2px solid white;">9</div>
<div class="grid-card card-wide m-2" style="border: 2px solid white;">10</div>
<div class="grid-card m-2" style="border: 2px solid white;">11</div>
<div class="grid-card m-2" style="border: 2px solid white;">12</div>
</section>