<section class="bg-[#561C24] text-white">
  <div class="w-[80%] h-[80vh]">
    <h1>Terapieangebot</h1>
  </div>
</section>

<section class="bg-[#FDF0D1] text-black">
  <h2>Physiotherapie, Bewegung und Coaching</h2>
  <p class="font-light">
    Ganz gleich ob du an chronischen Beschwerden oder an einer akuten Verletzung
    leidest – wir sind für dich da und gemeinsam formen wir die beste Therapie
    für dein spezifisches Problem.
  </p>
</section>

<section
  class="grid grid-cols-3 grid-rows-5 bg-[#FDF0D1] text-black gap-5 w-full p-10"
>
  <div
    class="col-start-2 max-w-[66.67vw] rounded-2xl overflow-hidden shadow-2xl flex p-10 gap-5 col-span-2 row-span-1"
  >
    <div class="w-1/2">
      <div class="font-bold text-xl mb-2">Traumatologie</div>
      <p class="text-gray-700 text-base font-light">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore animi
        fugiat iusto temporibus error cupiditate minus modi eum iste voluptatem.
      </p>
    </div>
    <div class="w-1/2 flex justify-center items-center bg-red-100">
      <span class="text-xl">BILD</span>
    </div>
  </div>
  <div
    class="max-w-[66.67vw] rounded-2xl overflow-hidden shadow-2xl flex p-10 gap-5 col-span-2 row-span-1"
  >
    <div class="w-1/2">
      <div class="font-bold text-xl mb-2">Spiraldynamik® i.A.</div>
      <p class="text-gray-700 text-base">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore animi
        fugiat iusto temporibus error cupiditate minus modi eum iste voluptatem.
      </p>
    </div>
  </div>
  <div
    class="max-w-[66.67vw] rounded-2xl overflow-hidden shadow-2xl flex p-10 gap-5 col-span-2 row-span-1 col-start-2"
  >
    <div class="w-1/2 flex justify-center items-center bg-red-100">
      <span class="text-xl">BILD</span>
    </div>
    <div class="w-2/3 px-6 py-4">
      <div class="font-bold text-xl mb-2">Sportphysiotherapie</div>
      <p class="text-gray-700 text-base">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore animi
        fugiat iusto temporibus error cupiditate minus modi eum iste voluptatem.
      </p>
    </div>
  </div>
  <div
    class="max-w-[66.67vw] rounded-2xl overflow-hidden shadow-2xl flex p-10 gap-5 col-span-2 row-span-1"
  >
    <div class="w-1/2">
      <div class="font-bold text-xl mb-2">Frauengesundheit</div>
      <p class="text-gray-700 text-base">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore animi
        fugiat iusto temporibus error cupiditate minus modi eum iste voluptatem.
      </p>
    </div>
  </div>
  <div
    class="max-w-[66.67vw] rounded-2xl overflow-hidden shadow-2xl flex p-10 gap-5 col-span-3 row-span-1 col-start-2"
  >
    <div class="w-1/2">
      <div class="font-bold text-xl mb-2">Yoga-Einzelstunde</div>
      <p class="text-gray-700 text-base">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore animi
        fugiat iusto temporibus error cupiditate minus modi eum iste voluptatem.
      </p>
    </div>
    <div class="w-1/2 flex justify-center items-center bg-red-100">
      <span class="text-xl">BILD</span>
    </div>
  </div>
</section>

<section>
  <h1>Ablauf der Therapie</h1>
</section>

<section>
  <div>
    <span>
      <h3></h3>
      <p></p>
    </span>
    <span>
      <h3></h3>
      <p></p>
    </span>
    <span>
      <h3></h3>
      <p></p>
    </span>
  </div>
  <div>
    <p></p>
  </div>
</section>

<section>
  <div>
    <h3>Terminvereinbarung</h3>
    <p>
      Da wir uns während der Behandlung voll und ganz auf unsere Patient*innen
      konzentrieren, ersuchen wir dich, deinen Namen und deine Telefonnummer auf
      der Mobilbox oder per SMS zu hinterlassen. <br />
      Wir melden uns so bald wie möglich, spätestens jedoch am nächsten Werktag,
      bei dir.
    </p>
  </div>
  <h2>Preise</h2>
  <div class="flex flex-row flex-wrap w-full justify-center gap-5">
    <div class="rounded-full overflow-hidden border-4 border-black p-16 flex flex-col justify-center items-center w-1/5">
      <h6>65€</h6>
      <p>Physiotherapie</p>
      <p>30 Min</p>
    </div>
    <div class="rounded-full overflow-hidden border-4 border-black p-16 flex flex-col justify-center items-center ml-5 w-1/5">
      <h6>90€</h6>
      <p>Physiotherapie</p>
      <p>45 Min</p>
    </div>
    <div class="rounded-full overflow-hidden border-4 border-black p-16 flex flex-col justify-center items-center ml-5 w-1/5">
      <h6>115€</h6>
      <p>+ Hausbesuch</p>
      <p>45 Min</p>
    </div>
  </div>  
</section>
