@font-face {
  font-family: Kirimaru;
  src: url("./../fonts/Kirimaru.ttf");
}
@font-face {
  font-family: Cantarell-Regular;
  src: url("./../fonts/Cantarell-Regular.ttf");
}

body {
    font-family: Cantarell-Regular;
}
