<!-- <div class="head-contact">
  <span> tel.: +43 6801740865 </span>
  <span> office&#64;physio-nord.at </span>
</div> -->

<nav class="flex justify-evenly pr-[20vw] pl-[20vw] p-5 bg-white text-gray-600">
  <button>Home</button>
  <button>Über uns</button>
  <button>Patienteninfo</button>
  <button>Galerie</button>
  <button>Kontakt</button>
</nav>

<router-outlet></router-outlet>

<footer class="footer p-10 text-neutral-content bg-black">
  <aside>
    <p>Physio Nord<br />Providing reliable tech since 2023</p>
  </aside>
  <nav>
  </nav>
</footer>
